body {
    background-color: #c7ecbe;
    display: flex;
    justify-content: center;
}

main {
    background-color: #225f13;
    border-radius: 10px;

    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFF;
}

#title {
    margin-bottom: -10px;
}

#img-div {
    width: 20%;
    height: auto;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;

    border-radius: 5px;
}

#image {
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
}

figcaption {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;

    margin-top: 1.7vw;
}

#tribute-info {
    width: 75%;
    text-align: justify;
}


a {
    color:#fff;
}

a:hover {
    background-color: white;
    color: #225f13;
}